

body {
font-family: Arial, sans-serif;
line-height: 1.6;
background-color: #f0f0f0; /* Fundo cinza claro */
color: #333;
}

body, html {
    margin: 0;
    padding: 0;
    }
    
.container {
max-width: 800px;
margin: 20px auto;
padding: 20px;
background-color: #fff; /* Fundo branco para o conteúdo */
box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra leve */
border-radius: 8px;
}

h1, h2, h3 {
color: #4CAF50; /* Verde para os títulos */
text-align: center;
}

p {
text-align: justify;
}

.footer {
margin-top: 20px;
text-align: center;
color: #777;
}